/* css  */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

ul,
ol,
li,
a {
	font-family: 'Raleway', sans-serif;
	list-style: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	font-weight: bold;
}

h3,
h4,
h5,
h6 {
	color: #33cc99;
}

h6 {
	font-style: italic;
}

p {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	line-height: 24px;
}

.section-heading {
	text-align: center;
	margin: auto;
}

.section-heading  p {
	width: 650px;
	margin-top: 10px;
}

.section-padding {
	padding: 100px 0;
}

.section-wrapper {
	margin-top: 50px;
}

.custom-btn {
	padding: 10px 15px;
	background: #33cc99;
	text-transform: uppercase;
	border-radius: 5px;
	transition: 0.3s;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.custom-btn:hover {
	background: #111111;
	color: #fff;
}

.custom-menu .active a {
	color: #33cc99 !important;
}


/* Header */

.custom-menu li {
	padding: 0px 25px;
}

.custom-menu li a {
	color: #000 !important;
	font-weight: 600;
	transition: 0.3s;
}

.custom-menu li:hover a {
	color: #33cc99 !important;
}

/* Banner */

.banner-area {
	background: url(../images/banner.jpg);
	background-position: center center;
	background-size: cover;
}

.banner-content {
	padding: 150px 0;
	color: #fff;
}

/* About */

.about-content {
	margin-left: 5px;
}

.about-content p {
	font-size: 14px;
	line-height: 22px;
	margin-top: 20px;
}

/* Course */

.cours-content h5 {
	margin: 15px 0;
}

/* about-wc-i*/

.about-footer {
	background: #33cc99;
	color: #fff;
}

.about-footer h4 {
	color: #fff;
	margin-bottom: 20px;
}

.blog-content {
	display: inline-block;
	margin: 5px 0;
}

.blog-content img {
	float: left;
}

.blog-content p {
	float: left;
	margin-left: 10px;
	
}

.blog-content .date-blog {
	float: left;
	line-height: 0;
	font-size: 12px;
	transform: translateY(-7px);
}

.instagram-gly {
	display: inline-blcok;
}

.instagram-gly img {
	width: 100px;
	margin: 8px 6px;
	
}

/* Footer */

.footer {
	text-align: center;
}

.footer p {
	margin: 0;
	padding: 50px 0;
}

.footer p a {
	color: #33cc99;
}



